*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(10deg, rgb(68, 177, 219), rgb(144, 235, 116));
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: minmax(150px, auto) repeat(5,120px);
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background: gray;
    word-wrap: break-word;
    word-break: break-all;
    grid-area: 1/1/2/span 4;
    padding: 10px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}
.output1{
    font-size: 1.3rem;
    opacity: 0.5;
}
button{
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 2rem;   
}
button:hover{background: #c7c5c5;}
.equal{grid-area: 6/3/7/5;}
.clearAll{grid-area: 2/1/3/3}
.clear{grid-area: 2/3/3/4;}
.operators{grid-area: 2/4/6/5;}
.operators{
    display: flex;
    flex-direction: column;
}
.operators > .btn {
    flex: 1;
}